body {
    margin: auto;
    max-width: 50em;
    font-family: sans-serif;
    background-color: lightblue;
}

.nav {
    background-color: lightgrey;
    padding: 0.5em;
    margin: 0.5em 0;
}

.info {
    background-color: whitesmoke;
    padding: 0.5em;
    margin: 0.5em 0;
}