<!DOCTYPE html>
<html>

<head>
  <title>Sarjiksen tiedot</title>
</head>

<body>
    {{ comic.title }}
  </p>
  <p>
    {{ comic.desc }}
  </p>
  {% if user_id ==  comic.lisaaja_id %}
    Voit muokata sarjista tai poistaa sen.
    <div>
        <a href="/edit_comic/{{ comic.cid }}">Muokkaa</a>
    </div>
    <div>
        <a href="/delete_comic/{{ comic.cid }}">Poista</a>
    </div>
  {% endif %}
  <p>
    Olet kirjautuneena <a href="/user/{{ user_id }}">{{ username }}</a>
  </p>
  <hr />
</body>

</html>
