{% extends "layout.html" %}

{% block title %}Sarjakuvat{% endblock %}

{% block content %}

<h2>Sarjiksen tiedot</h2>
    Lisääjä: <a href="/user/{{ comic.adder_id }}">{{ comic.adder }}</a>
    <hr/>
    {{ comic.title }}
     <hr/>
    {{ comic.desc }}
    <hr/>
    {% if user_id == comic.adder_id %}
        Voit muokata sarjista tai poistaa sen.
        <div>
            <a href="/edit_comic/{{ comic.cid }}">Muokkaa</a>
        </div>
        <div>
            <a href="/delete_comic/{{ comic.cid }}">Poista</a>
        </div>
    {% else %}
        Voit arvostella sarjiksen.
        <div>
            <a href="/star_comic/{{ comic.cid }}">Arvostele</a>
        </div>
    {% endif %}
    <hr/>
    Ilmiasu: {{ comic.c_type }}
    <hr/>
    Arvostelut
    <div>
        Keskiarvo: {{ mean_stars.s_mean }}
    </div>
    <div>
        {% for star_item in starrings %}
        <div>
            {{ star_item.stars }} / {{ star_item.s_desc }}
        </div>
        {% endfor %}
    </div>

    <p>
        <a href="/comic_issue/{{ comic.cid}}/{{ page - 1 }}">&lt;&lt;</a>
        Sivu {{ page }}/{{ page_count }}
        <a href="/comic_issue/{{ comic.cid}}/{{ page + 1 }}">&gt;&gt;</a>
    </p>
    <hr />


{% endblock %}