{% extends "layout.html" %}

{% block title %}Sarjakuvat{% endblock %}

{% block content %}
<h2>Poista sarjis</h2>

<form action="/delete_comic/{{ comic.cid }}" method="POST">
    Sarjiksen nimi: <br />
    <label name="title">{{ comic.title }}</label>
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    </p>
    <p>
    Sarjiksen kuvaus: <br />
    <label name="description">{{ comic.desc}}</label>
    </p>
    <input type="submit" value="Poista sarjis" />
</form>

{% endblock %}