{% extends "layout.html" %}

{% block title %}Sarjakuvat{% endblock %}

{% block content %}
<h2>Muokkaa sarjista</h2>

<form action="/edit_comic/{{ comic.cid }}" method="POST">
    Sarjiksen nimi: <br />
    <input type="text" name="title" maxlength="100" value="{{ comic.title }}"/>
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    </p>
    <p>
    Sarjiksen kuvaus: <br />
    <textarea name="description" cols="50" rows="20" maxlength="500">{{ comic.desc}}</textarea>
    </p>
    <input type="submit" value="Talleta muutokset" />
</form>

{% endblock %}
