<!DOCTYPE html>
<html>
    <head>
    <title>Muokkaa sarjista</title>
    </head>
    
    {% for message in get_flashed_messages() %}
    <p>
        <b>{{ message }}</b>
    </p>
    {% endfor %}

    <body>
        <form action="/edit_comic/{{ comic.cid }}" method="POST">
            Sarjiksen nimi: <br />
            <input type="text" name="title" value="{{ comic.title }}"/>
            </p>
            <p>
            Sarjiksen kuvaus: <br />
            <input type="text" name="description" value="{{ comic.desc}}"/>
            </p>
            <input type="submit" value="Talleta muutokset" />
        </form>
    </body>
</html>
