{% extends "layout.html" %}

{% block title %}Sarjakuvat{% endblock %}

{% block content %}
<h2>Muokkaa sarjista</h2>

<form action="/edit_comic/{{ comic.cid }}" method="POST">
    <label for="id_title">Sarjiksen nimi</label>: <br />
    <input type="text" name="title" id="id_title" maxlength="100" value="{{ comic.title }}" required />
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
    </p>
    <p>
    <label for="id_descr">Sarjiksen kuvaus</label>: <br />
    <textarea name="description" id="id_descr" cols="50" rows="20" maxlength="500" required >{{ comic.desc}}</textarea>
    </p>

    <p>
        <label>Sarjiksen ilmiasu:
            <select name="type_value" required>
                {% for c_item in c_types %}
                <option value="{{ c_item.id }}" {% if comic.ctid == c_item.id %}selected{% endif %}>{{ c_item.comic_type }}</option>
                {% endfor %}
            </select>
        </label>
    </p>

    <input type="submit" value="Talleta muutokset" />
</form>

{% endblock %}
