{% extends "layout.html" %}

{% block title %}Sarjakuvat{% endblock %}

{% block content %}
<h2>Luo uusi sarjis</h2>
<form action="/add_comic" method="POST">
    Sarjiksen nimi: <br />
    <input type="text" name="title" maxlength="100" />
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    </p>
    <p>
    Sarjiksen kuvaus: <br />
    <textarea name="description" cols="50" rows="20" maxlength="500"></textarea>
    </p>
    <input type="submit" value="Luo sarjis" />
</form>

{% endblock %}
