{% extends "layout.html" %}

{% block title %}Sarjakuvat{% endblock %}

{% block content %}
<h2>Luo tunnus</h2>

<form action="/create_user" method="post">
  <p>
    Tunnus: <br />
    <input type="text" name="username" maxlength="12" required />
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
  </p>
  <p>
    Salasana: <br />
    <input type="password" name="password1" maxlength="12" required/>
  </p>
  <p>
    Salasana uudestaan: <br />
    <input type="password" name="password2" />
  </p>
  <input type="submit" value="Luo tunnus" />
</form>

{% endblock %}