{% extends "layout.html" %}

{% block title %}Sarjakuvat{% endblock %}

{% block content %}
<article>
    <h2>Arvostele sarjis</h2>
    <form action="/star_comic/{{ comic.cid }}" method="POST">
        Sarjiksen nimi: <br />
        <label name="title" id="id_title">{{ comic.title }}</label>
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        </p>

        <label>Tähdet (1-5)
            <select name="star_value" required>
                <option value="1" {% if starring and starring.stars == 1 %}selected{% endif %}>1</option>
                <option value="2" {% if starring and starring.stars == 2 %}selected{% endif %}>2</option>
                <option value="3" {% if starring and starring.stars == 3 %}selected{% endif %}>3</option>
                <option value="4" {% if starring and starring.stars == 4 %}selected{% endif %}>4</option>
                <option value="5" {% if starring and starring.stars == 5 %}selected{% endif %}>5</option>
            </select>
        </label>

        <p>
        <label for="id_desc">Sanallinen arvostelu</label>: <br />
        <textarea name="description" id="id_descr" cols="50" rows="20" maxlength="500" >{{ starring.desc }}</textarea>
        </p>
        <input type="submit" value="Arvostele sarjis" />
    </form>
</article>
{% endblock %}
