{% extends "layout.html" %}

{% block title %}Sarjakuvat{% endblock %}

{% block content %}
<h2>Käyttäjät sarjiksineen</h2>

<div>
    {% for u_user in userlist %}
        <div>
            Käyttäjän {{ u_user.uname }} lisäämät sarjikset:
        </div>
        <ul>
        {% for comic in comics_plain %}
            {% if u_user.uid == comic.adder_id %}
            <li>
                <a href="/comic_issue/{{ comic.cid }}">{{ comic.title }}</a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}
</div>

<p>
    <a href="/userlist_paged/{{ page - 1 }}">&lt;&lt;</a>
    Sivu {{ page }}/{{ page_count }}
    <a href="/userlist_paged/{{ page + 1 }}">&gt;&gt;</a>
</p>
<hr />



{% endblock %}