{% extends "layout.html" %}

{% block title %}Sarjakuvat{% endblock %}

{% block content %}
<h2>Käyttäjän tiedot</h2>

<div>
    Käyttäjä: {{ user[0].uname }}
    <p/>
    Käyttäjän sarjiksien lukumäärä: {{ comic_count }}
    <p/>
    Käyttäjän sarjiksien saamien tähtien keskiarvo: {{ mean_stars_user.s_mean }}
    <p/>
    Käyttäjän arvioimien sarjiksien lukumäärä: {{ review_count }}
</div>
<div>
    {% if user[0].cid %}
        <div>
            Käyttäjän lisäämät sarjikset
        </div>
        <ul>
        {% for comic in user %}
            <li>
                <a href="/comic_issue/{{ comic.cid }}">{{ comic.title }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <div>
            Käyttäjällä ei ole lisättyjä sarjiksia
        </div>
    {% endif %}

</div>

{% if user[0].cid %}
    <p>
        <a href="/user/{{ user[0].uid }}/{{ page - 1 }}">&lt;&lt;</a>
        Sivu {{ page }}/{{ page_count }}
        <a href="/user/{{ user[0].uid }}/{{ page + 1 }}">&gt;&gt;</a>
    </p>
    <hr />
{% endif %}


{% endblock %}

