<!DOCTYPE html>
<html>

<head>
  <title>Käyttäjän tiedot</title>
</head>

<body>
    <div>
        Käyttäjä: {{ user[0].uname }}
    </div>
    <div>
        {% if user[0].cid %}
            <div>
                Käyttäjän lisäämät sarjikset
            </div>

            {% for comic in user %}
                <p>
                    <a href="/comic_juttu/{{ comic.cid }}">{{ comic.title }}</a>
                    <br />
                </p>
                <hr />
            {% endfor %}
        {% else %}
            <div>
                Käyttäjällä ei ole lisättyjä sarjiksia
            </div>
        {% endif %}

    </div>

  <hr />
</body>

</html>